@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
@import '../../assets/styles/variables.scss';


.rules {
    margin-bottom: 20px;
    @media only screen and (max-width: 600px) {
        padding: 5px 10px;
    }
    .check {
        width: 25px;
        vertical-align: middle;
        padding-right: 10px;
    }
    
    .html-rule{
        margin-left: 35px;
        color: $grey;
        font-size: 15px;
        span {
            background-color: $lightGrey;
            font-family: 'Roboto Mono', monospace;
            font-size: 14px;
            color: $dark;
            word-wrap: break-word;
        }
        
    }

    .tip-rule{
        padding-left: 35px;
        color: $grey;
        font-size: 15px;
    }
}