@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');


.check {
    width: 30px;
    vertical-align: middle;
    padding-right: 10px;
}

.html-rule{
    background-color: rgb(238, 238, 238);
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
}